<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data exploration and visualisation</title>
</head>
<body>
    <h1>Data Exploration</h1>
        <h2>First,we were not really familiar with the spanish language so we changed the column's name to be avoid going back to the dataset
        documentation every 3 seconds</h2>
            <h3>Here is a view of the modified tab, modified columns' name to be more specific &#128521</h3>
                <img src="modified_tab.PNG" alt="View of data table with modified columns names">


    <br>

        <h2>Then we checked the presence of duplicated rows and missing values</h2>


    <h1>Data Visualisation</h1>

</body>
</html>