<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data anaylisis and machine learning for predicting obesity</title>
</head>
<body>
<h1>Who are we?</h1>
    <p>Lucas ENARD and Myriam ESSAFOUI, students at ESILV</p>
<p>We are glad to present our data analysis and machine learning program for obesity risk prediction</p>


    <h2>The Obesity Dataset</h2>
        <p>
            This dataset include data for the estimation of obesity levels in individuals from the countries of Mexico, Peru and Colombia,
            based on their eating habits and physical condition. The data contains 17 attributes and 2111 records, the records are labeled with the class
            variable NObesity (Obesity Level), that allows classification of the data using the values of Insufficient Weight, Normal Weight, Overweight Level I, Overweight Level II,
            Obesity Type I, Obesity Type II and Obesity Type III.
        </p>
    <h2>But you may ask yourself, what does it look like?</h2>
        <h3>Here some view of the orignal table</h3>
            <img src="original_tab.PNG" alt="Original view of data table">
    <h2>More interested?</h2>

<p>
    <ul>
        <li><a href="data_explor_visu.html">Dataset exploration and visualization</a></li>
        <li><a href="modeling.html">Modeling</a></li>
        <li><a href="conclusion.html">Conclusion</a></li>
    </ul>
</p>
</body>
</html>